<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Посадочная доктор</title>
  <meta name="theme-color" content="#fff" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon" />
  <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png" />
  <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png" />
  <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png" />
  <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png" />
  <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../styles/main.css" />
</head>

<body>
  <div class="wrapper">
    @@include("../../blocks/modules/header/header.html")

    <main>
      <div class="doc-single">
        <div class="doc-single__address">
          <p>Адреса приема</p>
          <p>пр. К.Маркса, 160 а,</p>
          <p>ул. 50-летия</p>
          <p>Магнитки, 55А</p>
          <a href="#" class="doc-single__signup">Записаться</a>
        </div>
        <div class="container">
          <h1 class="doc-single__title _pc-title">Ибрагиева Индира Борисовна</h1>
          <div class="doc-single__row">
            <div class="doc-single__col">
              <div class="doc-single__card">
                <div class="doc-single__image">
                  <img src="../../img/ibragimova.jpg" alt="" />
                </div>
                <div class="doc-single__info">
                  <h1 class="doc-single__title _mb-title">Ибрагиева Индира Борисовна</h1>
                  <p class="doc-single__spec-title">Специальность</p>
                  <p class="doc-single__spec-info">Врач невролог, врач УЗИ</p>
                  <p class="doc-single__spec-title">Общий врачебный стаж</p>
                  <p class="doc-single__spec-info">30 лет</p>
                </div>
              </div>
              <div class="doc-single__edu edu-doc">
                <h2 class="edu-doc__title">Образование</h2>
                <div class="edu-doc__edu">
                  <div class="edu-doc__edu-row">
                    <p>1994</p>
                    <p>Андижанский государственный медицинский институт</p>
                    <p>Педиатрия</p>
                    <p>Базовое образование</p>
                  </div>
                  <div class="edu-doc__edu-row">
                    <p>1999</p>
                    <p>Ультразвуковая диагностика</p>
                    <p>Циклы переподготовки</p>
                  </div>
                  <div class="edu-doc__edu-row">
                    <p>2019</p>
                    <p>Андижанский государственный медицинский институт</p>
                    <p>Неврология</p>
                    <p>Повышение квалификации</p>
                  </div>
                  <div class="edu-doc__edu-row">
                    <p>2019</p>
                    <p>Функциональная диагностика</p>
                    <p>Повышение квалификации</p>
                  </div>
                  <div class="edu-doc__edu-row">
                    <p>2020</p>
                    <p>Ультразвуковая диагностика/p></p>
                    <p>Повышение квалификации</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="doc-single__col">
              <h2 class="edu-doc__title">Ограничения</h2>
              <p class="edu-doc__text">По возрасту: с 0 лет</p>
              <h2 class="edu-doc__title">Оказываемые услуги</h2>
              <div class="edu-doc__edu">
                <div class="edu-doc__service">
                  <p>B01.023.001 Прием врача-невролога лечебно-диагностический, первичный, амбулаторный</p>
                  <p>1200 руб</p>
                </div>
                <div class="edu-doc__service">
                  <p>B01.023.002 Прием врача-невролога лечебно-диагностический, повторный, амбулаторный</p>
                  <p>1000 руб</p>
                </div>
                <div class="edu-doc__service">
                  <p>A04.01.001 УЗИ мягких тканей</p>
                  <p>550 руб</p>
                </div>
                <div class="edu-doc__service">
                  <p>A04.04.001.001 УЗИ тазобедренные (2 сустава)</p>
                  <p>800 руб</p>
                </div>
                <div class="edu-doc__service">
                  <p>A04.04.001 УЗИ голеностоп</p>
                  <p>700 руб</p>
                </div>
                <div class="edu-doc__service">
                  <p>A04.14.002 УЗИ брюшной полости с определением функции (желчный пузырь)</p>
                  <p>1300 руб</p>
                </div>
                <div class="edu-doc__service">
                  <p>A04.16.001.001 УЗИ органов брюшной полости (печень, желчный пузырь, поджелудочная железа,
                    селезенка, почки)</p>
                  <p>1200 руб</p>
                </div>
                <div class="edu-doc__service">
                  <p>A04.16.001.001 УЗИ органов брюшной полости (печень, желчный пузырь, поджелудочная железа,
                    селезенка)</p>
                  <p>1000 руб</p>
                </div>
                <div class="edu-doc__service">
                  <p>A04.22.001.001 УЗИ щитовидной железы и регионарных узлов+ЦДК</p>
                  <p>700 руб</p>
                </div>
                <div class="edu-doc__service">
                  <p>A04.23.001.001 Нейросонография (головной мозг) дети</p>
                  <p>600 руб</p>
                </div>
                <div class="edu-doc__service">
                  <p>А04.03002 УЗИ шейного отдела (дети до 1 года)</p>
                  <p>600 руб</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="doc-single__video video-doc">
          <div class="container">
            <div class="video-doc__grid">
              <div class="video-doc__card">
                <img src="../../img/lukyanov.png" alt="" class="video-doc__poster">
                <video id="myVideo">
                  <source src="../../img/file.mp4" type="video/mp4">
                </video>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    @@include("../../blocks/modules/footer/footer.html")
  </div>
  <script src="js/vendor.js"></script>
  <script src="../js/main.js"></script>
</body>

</html>