<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Акции</title>
  <meta name="theme-color" content="#fff" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon" />
  <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png" />
  <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png" />
  <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png" />
  <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png" />
  <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../styles/main.css" />
</head>

<body>
  <div class="wrapper">
    @@include("../../blocks/modules/header/header.html")

    <main>
      <div class="single">
        <div class="single-banner">
          <div class="single-banner__image">
            <img src="../../img/single-banner.jpg" alt="" />
            <!-- <video muted autoplay>
              <source src="../../img/file.mp4">
            </video> -->
            <div class="single-banner__image-text">
              <p>УЗИ с выездом</p>
              <p>на дом</p>
            </div>
          </div>
          <div class="single-banner__content">
            <h1 class="single-banner__title">Ультразвуковое исследование</h1>
            <p>Ультразвуковая диагностика представляет собой исследование состояния тканей и органов с использованием
              ультразвуковых волн. При прохождении через границы тканей ультразвук отражается. Эти изменения фиксирует
              специальный датчик. Именно они являются основой полученного в ходе обследования изображения.</p>
            <a href="" class="single-banner__btn">Записаться на прием</a>
          </div>
        </div>
        <div class="single-about" style="background-color: #fff !important;">
          <div class="container">
            <div class="single-about__row">
              <div class="single-about__col">
                <div class="single-about__image">
                  <img src="../../img/single-about.jpg" alt="" />
                </div>
              </div>
              <div class="single-about__col">
                <div class="single-about__text service-single__text">
                  <p>Большую распространенность УЗИ получило благодаря своим преимуществам: отсутствием вмешательства в
                    ткани и органы пациента, максимальной безопасности, информативности.</p>
                  <p>Наши специалисты выполняют комплексное УЗИ экспертного класса с помощью современных ультразвуковых
                    аппаратов.</p>
                  <p>Благодаря сети медицинских офисов Здоровья, расположенных в разных частях города, вы всегда можете
                    подобрать удобный для вас офис и записаться на удобное время. Доступна также онлайн-запись</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="single-text__inner">
          <div class="single-text">
            <div class="container">
              <div class="service-single__text">
                <p>Своевременная терапия обычно дает хорошие результаты. Задержка в лечении может привести к серьезным
                  нарушениям здоровья, вплоть до инвалидности и смерти.</p>
                <p>Надежный метод профилактики заболевания – это вакцинация против вируса клещевого энцефалита.</p>
                <p>
                  Самое распространенное заболевание, передаваемое клещами, – это клещевой боррелиоз (болезнь Лайма).
                  Симптомы появляются в среднем через 2 недели после укуса. Характерный признак боррелиоза –
                  формирование на коже в месте укуса розового пятна, которое постепенно увеличивается в размерах и
                  приобретает форму кольца с ярко-красными краями (кольцевидная мигрирующая эритема). Заболевание
                  сопровождается лихорадкой, головной болью, болями в костях, суставах и мышцах. В лучшем случае
                  выздоровление наступает через 2-3 недели. Однако болезнь может перейти в хроническую форму, и это
                  чревато серьезными последствиями для здоровья.
                </p>
                <p>Также через укус клеща можно заразиться гранулоцитарным анаплазмозом и моноцитарным эрлихиозом
                  человека. Эти заболевания сопровождаются лихорадкой, головной болью, болью в мышцах и суставах. Как
                  правило, обе эти болезни хорошо лечатся, если своевременно обратиться к врачу.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="single-about">
          <div class="container">
            <div class="single-about__row">
              <div class="single-about__col">
                <div class="klesch__image">
                  <img src="../../img/kl-1.jpg" alt="" />
                </div>
              </div>
              <div class="single-about__col">
                <div class="single-about__text service-single__text">
                  <h2>Чем опасны клещи для человека?</h2>
                  <p>Клещи являются переносчиками ряда инфекционных заболеваний. Самая опасная болезнь – это клещевой
                    вирусный энцефалит, поражающий преимущественно нервную систему. Заражение человека происходит, в
                    основном, через укус клеща. Инкубационный период в среднем 7-14 дней с момента укуса.

                    Болезнь начинается остро и сопровождается:</p>
                  <ul>
                    <li>ознобом;</li>
                    <li>резким подъемом температуры до 38-40°С;</li>
                    <li>сильной головной болью;</li>
                    <li>тошнотой;</li>
                    <li>рвотой;</li>
                    <li>слабостью.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="single-about">
          <div class="container">
            <div class="single-about__row">
              <div class="single-about__col">
                <div class="klesch__image">
                  <img src="../../img/kl-2.jpg" alt="" />
                </div>
              </div>
              <div class="single-about__col">
                <div class="single-about__text service-single__text">
                  <h2>Что делать, если вас укусил клещ?</h2>
                  <p>Удалите клеща как можно быстрее!</p>
                  <p>
                    1. Обратитесь в ближайший травматологический пункт или осторожно снимите клеща самостоятельно.
                    В медицинском центре Здоровье по адресу пр. К. Маркса, 160А также можно удалить клеща.
                  </p>
                  <p>
                    2. Не используйте масло, крем и другие жидкости для воздействия на присосавшегося клеща.
                  <p>
                    3. Не трогайте клеща голыми руками.
                  </p>
                  <p>
                    4. Для извлечения клеща можно использовать пинцет, специальные приспособления или крепкую нить.
                  </p>
                  <ul>
                    <li>
                      Захватите клеща максимально близко к хоботку (если вы используете нить, завяжите ее вокруг
                      хоботка
                      клеща)
                    </li>
                    <li>
                      Аккуратно потяните вверх, вращая пинцет или нить вокруг своей оси в удобную вам сторону
                    </li>
                    <li>
                      После извлечения обязательно продезинфицируйте место укуса
                    </li>
                  </ul>
                  <p>
                    5. Не выбрасывайте клеща!
                    Извлеченного клеща поместите в небольшую плотно закрываемую емкость и сдайте на анализ в ближайшую
                    лабораторию (например, ИНВИТРО) для проведения исследования на клещевые инфекции.
                  </p>
                  <p>
                    Важно понимать, что наличие возбудителя инфекции в теле клеща не обязательно приведет к
                    инфицированию человека.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="single-cards">
          <div class="container">
            <h2>Какие лабораторные исследования на клещевые инфекции есть в ИНВИТРО?</h2>
            <p>
              В случае обнаружения инфекционного агента у клеща, человеку, которого он укусил, рекомендуется
              обследоваться
              на клещевые инфекции, для чего надо сдать кровь на анализы не ранее, чем через 10 дней после укуса клеща.
            </p>
            <div class="single-cards__inner">
              <div class="single-cards__card">
                <div class="single-cards__card-top">
                  <p>
                    Лабораторное исследование клеща для выявления РНК/ДНК возбудителей инфекций, передаваемых иксодовыми
                    клещами: клещевого энцефалита, боррелиоза (болезни Лайма)
                  </p>
                </div>
                <div class="single-cards__card-bottom">
                  <p>№ 37Д</p>
                  <a href="#">Подробнее</a>
                </div>
              </div>
              <div class="single-cards__card">
                <div class="single-cards__card-top">
                  <p>
                    Лабораторное исследование клеща для выявления РНК/ДНК возбудителей инфекций, передаваемых иксодовыми
                    клещами: клещевого энцефалита, боррелиоза (болезни Лайма)
                  </p>
                </div>
                <div class="single-cards__card-bottom">
                  <p>№ 37Д</p>
                  <a href="#">Подробнее</a>
                </div>
              </div>
              <div class="single-cards__card">
                <div class="single-cards__card-top">
                  <p>
                    Лабораторное исследование клеща для выявления РНК/ДНК возбудителей инфекций, передаваемых иксодовыми
                    клещами: клещевого энцефалита, боррелиоза (болезни Лайма)
                  </p>
                </div>
                <div class="single-cards__card-bottom">
                  <p>№ 37Д</p>
                  <a href="#">Подробнее</a>
                </div>
              </div>
              <div class="single-cards__card">
                <div class="single-cards__card-top">
                  <p>
                    Лабораторное исследование клеща для выявления РНК/ДНК возбудителей инфекций, передаваемых иксодовыми
                    клещами: клещевого энцефалита, боррелиоза (болезни Лайма)
                  </p>
                </div>
                <div class="single-cards__card-bottom">
                  <p>№ 37Д</p>
                  <a href="#">Подробнее</a>
                </div>
              </div>
              <div class="single-cards__card">
                <div class="single-cards__card-top">
                  <p>
                    Лабораторное исследование клеща для выявления РНК/ДНК возбудителей инфекций, передаваемых иксодовыми
                    клещами: клещевого энцефалита, боррелиоза (болезни Лайма)
                  </p>
                </div>
                <div class="single-cards__card-bottom">
                  <p>№ 37Д</p>
                  <a href="#">Подробнее</a>
                </div>
              </div>
              <div class="single-cards__card">
                <div class="single-cards__card-top">
                  <p>
                    Лабораторное исследование клеща для выявления РНК/ДНК возбудителей инфекций, передаваемых иксодовыми
                    клещами: клещевого энцефалита, боррелиоза (болезни Лайма)
                  </p>
                </div>
                <div class="single-cards__card-bottom">
                  <p>№ 37Д</p>
                  <a href="#">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="single-text__inner">
          <div class="single-text">
            <div class="container">
              <div class="service-single__text">
                <h2>asdjhasdasndkasdnkj ksdnkjdsnkjdnfkjn </h2>
                <p>Своевременная терапия обычно дает хорошие результаты. Задержка в лечении может привести к серьезным
                  нарушениям здоровья, вплоть до инвалидности и смерти.</p>
                <p>Надежный метод профилактики заболевания – это вакцинация против вируса клещевого энцефалита.</p>
                <p>
                  Самое распространенное заболевание, передаваемое клещами, – это клещевой боррелиоз (болезнь Лайма).
                  Симптомы появляются в среднем через 2 недели после укуса. Характерный признак боррелиоза –
                  формирование на коже в месте укуса розового пятна, которое постепенно увеличивается в размерах и
                  приобретает форму кольца с ярко-красными краями (кольцевидная мигрирующая эритема). Заболевание
                  сопровождается лихорадкой, головной болью, болями в костях, суставах и мышцах. В лучшем случае
                  выздоровление наступает через 2-3 недели. Однако болезнь может перейти в хроническую форму, и это
                  чревато серьезными последствиями для здоровья.
                </p>
                <p>Также через укус клеща можно заразиться гранулоцитарным анаплазмозом и моноцитарным эрлихиозом
                  человека. Эти заболевания сопровождаются лихорадкой, головной болью, болью в мышцах и суставах. Как
                  правило, обе эти болезни хорошо лечатся, если своевременно обратиться к врачу.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="single-rendered">
          <div class="container">
            <h2 class="edu-doc__title">Стоимость исследования</h2>
            <div class="edu-doc__edu">
              <div class="edu-doc__service">
                <p>B01.023.001 Прием врача-невролога лечебно-диагностический, первичный, амбулаторный</p>
                <p>1200 руб</p>
              </div>
              <div class="edu-doc__service">
                <p>B01.023.002 Прием врача-невролога лечебно-диагностический, повторный, амбулаторный</p>
                <p>1000 руб</p>
              </div>
              <div class="edu-doc__service">
                <p>A04.01.001 УЗИ мягких тканей</p>
                <p>550 руб</p>
              </div>
              <div class="edu-doc__service">
                <p>A04.04.001.001 УЗИ тазобедренные (2 сустава)</p>
                <p>800 руб</p>
              </div>
              <div class="edu-doc__service">
                <p>A04.04.001 УЗИ голеностоп</p>
                <p>700 руб</p>
              </div>
              <div class="edu-doc__service">
                <p>A04.14.002 УЗИ брюшной полости с определением функции (желчный пузырь)</p>
                <p>1300 руб</p>
              </div>
              <div class="edu-doc__service">
                <p>A04.16.001.001 УЗИ органов брюшной полости (печень, желчный пузырь, поджелудочная железа, селезенка,
                  почки)</p>
                <p>1200 руб</p>
              </div>
              <div class="edu-doc__service">
                <p>A04.16.001.001 УЗИ органов брюшной полости (печень, желчный пузырь, поджелудочная железа, селезенка)
                </p>
                <p>1000 руб</p>
              </div>
              <div class="edu-doc__service">
                <p>A04.22.001.001 УЗИ щитовидной железы и регионарных узлов+ЦДК</p>
                <p>700 руб</p>
              </div>
              <div class="edu-doc__service">
                <p>A04.23.001.001 Нейросонография (головной мозг) дети</p>
                <p>600 руб</p>
              </div>
              <div class="edu-doc__service">
                <p>А04.03002 УЗИ шейного отдела (дети до 1 года)</p>
                <p>600 руб</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    @@include("../../blocks/modules/footer/footer.html")
  </div>
  <script src="js/vendor.js"></script>
  <script src="../js/main.js"></script>
</body>

</html>