<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Акции</title>
  <meta name="theme-color" content="#fff" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon" />
  <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png" />
  <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png" />
  <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png" />
  <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png" />
  <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../styles/main.css" />
</head>

<body>
  <div class="wrapper">
    @@include("../../blocks/modules/header/header.html")

    <main>
      <div class="single">
        <div class="single-banner">
          <div class="single-banner__image">
            <img src="../../img/single-banner.jpg" alt="" />
            <!-- <video muted autoplay>
              <source src="../../img/file.mp4">
            </video> -->
            <div class="single-banner__image-text">
              <p>УЗИ с выездом</p>
              <p>на дом</p>
            </div>
          </div>
          <div class="single-banner__content">
            <h1 class="single-banner__title">Ультразвуковое исследование</h1>
            <p>Ультразвуковая диагностика представляет собой исследование состояния тканей и органов с использованием
              ультразвуковых волн. При прохождении через границы тканей ультразвук отражается. Эти изменения фиксирует
              специальный датчик. Именно они являются основой полученного в ходе обследования изображения.</p>
            <a href="" class="single-banner__btn">Записаться на прием</a>
          </div>
        </div>
        <div class="container"></div>
        <div class="single-about">
          <div class="container">
            <div class="single-about__row">
              <div class="single-about__col">
                <div class="single-about__image">
                  <img src="../../img/single-about.jpg" alt="" />
                </div>
              </div>
              <div class="single-about__col">
                <div class="single-about__text service-single__text">
                  <p>Большую распространенность УЗИ получило благодаря своим преимуществам: отсутствием вмешательства в
                    ткани и органы пациента, максимальной безопасности, информативности.</p>
                  <p>Наши специалисты выполняют комплексное УЗИ экспертного класса с помощью современных ультразвуковых
                    аппаратов.</p>
                  <p>Благодаря сети медицинских офисов Здоровья, расположенных в разных частях города, вы всегда можете
                    подобрать удобный для вас офис и записаться на удобное время. Доступна также онлайн-запись</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="single-text__inner">
          <div class="single-text">
            <div class="container">
              <div class="service-single__text">
                <p>Существует несколько видов ультразвукового исследования. Чаще всего применяют обычное сканирование,
                  которое традиционно называют УЗИ диагностикой и доплерографию. С помощью доплерографии (ЦДК) изучают
                  кровоток, проходимость кровеносных сосудов.</p>
              </div>
            </div>
          </div>
          <div class="single-text">
            <div class="container">
              <div class="service-single__text">
                <p>Существует несколько видов ультразвукового исследования. Чаще всего применяют обычное сканирование,
                  которое традиционно называют УЗИ диагностикой и доплерографию. С помощью доплерографии (ЦДК) изучают
                  кровоток, проходимость кровеносных сосудов.</p>
              </div>
            </div>
          </div>
          <div class="single-text">
            <div class="container">
              <div class="service-single__text">
                <p>Существует несколько видов ультразвукового исследования. Чаще всего применяют обычное сканирование,
                  которое традиционно называют УЗИ диагностикой и доплерографию. С помощью доплерографии (ЦДК) изучают
                  кровоток, проходимость кровеносных сосудов.</p>
              </div>
            </div>
          </div>
          <div class="single-text">
            <div class="container">
              <div class="service-single__text">
                <p>Существует несколько видов ультразвукового исследования. Чаще всего применяют обычное сканирование,
                  которое традиционно называют УЗИ диагностикой и доплерографию. С помощью доплерографии (ЦДК) изучают
                  кровоток, проходимость кровеносных сосудов.</p>
              </div>
            </div>
          </div>
          <div class="single-text">
            <div class="container">
              <div class="service-single__text">
                <p>Существует несколько видов ультразвукового исследования. Чаще всего применяют обычное сканирование,
                  которое традиционно называют УЗИ диагностикой и доплерографию. С помощью доплерографии (ЦДК) изучают
                  кровоток, проходимость кровеносных сосудов.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="single-service">
          <div class="single-service__grid">
            <div class="single-service__card">
              <div class="single-service__card-image">
                <img src="../../img/schitovidnaya.jpg" alt="" />
              </div>
              <div class="single-service__card-content">
                <a href="" class="single-service__card-link">УЗИ щитовидной железы</a>
                <a href="" class="single-service__card-btn">Подробнее</a>
              </div>
            </div>
            <div class="single-service__card">
              <div class="single-service__card-image">
                <img src="../../img/1.jpg" alt="" />
              </div>
              <div class="single-service__card-content">
                <a href="" class="single-service__card-link">УЗИ щитовидной железы</a>
                <a href="" class="single-service__card-btn">Подробнее</a>
              </div>
            </div>
            <div class="single-service__card">
              <div class="single-service__card-image">
                <img src="../../img/schitovidnaya.jpg" alt="" />
              </div>
              <div class="single-service__card-content">
                <a href="" class="single-service__card-link">УЗИ щитовидной железы</a>
                <a href="" class="single-service__card-btn">Подробнее</a>
              </div>
            </div>
            <div class="single-service__card">
              <div class="single-service__card-image">
                <img src="../../img/schitovidnaya.jpg" alt="" />
              </div>
              <div class="single-service__card-content">
                <a href="" class="single-service__card-link">УЗИ щитовидной железы</a>
                <a href="" class="single-service__card-btn">Подробнее</a>
              </div>
            </div>
          </div>
        </div>
        <div class="single-price">
          <div class="container">
            <div class="single-price__row">
              <div class="single-price__item">
                <div class="single-price__item-head">
                  <p>Ультразвуковые исследования. Урология</p>
                </div>
                <div class="single-price__item-body body-item">
                  <div class="body-item__line">
                    <div class="body-item__line-left">
                      <a href="">УЗИ мочеполовой системы с определением остаточной мочи</a>
                    </div>
                    <div class="body-item__line-right">
                      <span>700 руб.</span>
                    </div>
                  </div>
                  <div class="body-item__line">
                    <div class="body-item__line-left">
                      <a href="">УЗИ почек и мочевого пузыря</a>
                    </div>
                    <div class="body-item__line-right">
                      <span>600 руб.</span>
                    </div>
                  </div>
                  <div class="body-item__line">
                    <div class="body-item__line-left">
                      <a href="">УЗИ предстательной железы (абдоминально)</a>
                    </div>
                    <div class="body-item__line-right">
                      <span>600 руб.</span>
                    </div>
                  </div>
                  <div class="body-item__line">
                    <div class="body-item__line-left">
                      <a href="">УЗИ мошонки + ЦДК</a>
                    </div>
                    <div class="body-item__line-right">
                      <span>700 руб.</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="single-price__item">
                <div class="single-price__item-head">
                  <p>Ультразвуковые исследования. Урология</p>
                </div>
                <div class="single-price__item-body body-item">
                  <div class="body-item__line">
                    <div class="body-item__line-left">
                      <a href="">УЗИ мочеполовой системы с определением остаточной мочи</a>
                    </div>
                    <div class="body-item__line-right">
                      <span>700 руб.</span>
                    </div>
                  </div>
                  <div class="body-item__line">
                    <div class="body-item__line-left">
                      <a href="">УЗИ почек и мочевого пузыря</a>
                    </div>
                    <div class="body-item__line-right">
                      <span>600 руб.</span>
                    </div>
                  </div>
                  <div class="body-item__line">
                    <div class="body-item__line-left">
                      <a href="">УЗИ предстательной железы (абдоминально)</a>
                    </div>
                    <div class="body-item__line-right">
                      <span>600 руб.</span>
                    </div>
                  </div>
                  <div class="body-item__line">
                    <div class="body-item__line-left">
                      <a href="">УЗИ мошонки + ЦДК</a>
                    </div>
                    <div class="body-item__line-right">
                      <span>700 руб.</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="single-rendered">
          <div class="container">
            <h2 class="edu-doc__title">Стоимость исследования</h2>
            <div class="edu-doc__edu">
              <div class="edu-doc__service">
                <p>B01.023.001 Прием врача-невролога лечебно-диагностический, первичный, амбулаторный</p>
                <p>1200 руб</p>
              </div>
              <div class="edu-doc__service">
                <p>B01.023.002 Прием врача-невролога лечебно-диагностический, повторный, амбулаторный</p>
                <p>1000 руб</p>
              </div>
              <div class="edu-doc__service">
                <p>A04.01.001 УЗИ мягких тканей</p>
                <p>550 руб</p>
              </div>
              <div class="edu-doc__service">
                <p>A04.04.001.001 УЗИ тазобедренные (2 сустава)</p>
                <p>800 руб</p>
              </div>
              <div class="edu-doc__service">
                <p>A04.04.001 УЗИ голеностоп</p>
                <p>700 руб</p>
              </div>
              <div class="edu-doc__service">
                <p>A04.14.002 УЗИ брюшной полости с определением функции (желчный пузырь)</p>
                <p>1300 руб</p>
              </div>
              <div class="edu-doc__service">
                <p>A04.16.001.001 УЗИ органов брюшной полости (печень, желчный пузырь, поджелудочная железа, селезенка,
                  почки)</p>
                <p>1200 руб</p>
              </div>
              <div class="edu-doc__service">
                <p>A04.16.001.001 УЗИ органов брюшной полости (печень, желчный пузырь, поджелудочная железа, селезенка)
                </p>
                <p>1000 руб</p>
              </div>
              <div class="edu-doc__service">
                <p>A04.22.001.001 УЗИ щитовидной железы и регионарных узлов+ЦДК</p>
                <p>700 руб</p>
              </div>
              <div class="edu-doc__service">
                <p>A04.23.001.001 Нейросонография (головной мозг) дети</p>
                <p>600 руб</p>
              </div>
              <div class="edu-doc__service">
                <p>А04.03002 УЗИ шейного отдела (дети до 1 года)</p>
                <p>600 руб</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    @@include("../../blocks/modules/footer/footer.html")
  </div>
  <script src="js/vendor.js"></script>
  <script src="../js/main.js"></script>
</body>

</html>