<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Акции</title>
  <meta name="theme-color" content="#fff" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon" />
  <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png" />
  <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png" />
  <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png" />
  <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png" />
  <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../styles/main.css" />
</head>

<body>
  <div class="wrapper">
    @@include("../../blocks/modules/header/header.html")

    <main>
      <div class="uzi-detym">
        <div class="container">
          <h1 class="uzi-detym__title"></h1>
          <div class="uzi-detym__row">
            <div class="uzi-detym__list">
              <div class="uzi-detym__item">
                <div class="uzi-detym__icon">
                  <svg preserveAspectRatio="none" data-bbox="20 20 160 160" viewBox="20 20 160 160" height="200"
                    width="200" xmlns="http://www.w3.org/2000/svg" data-type="shape" role="presentation"
                    aria-hidden="true">
                    <g>
                      <path
                        d="M100 20c-44.182 0-80 35.817-80 80s35.818 80 80 80c44.184 0 80-35.817 80-80s-35.816-80-80-80zm34.745 91.021a4.703 4.703 0 0 1-3.562 1.627 4.7 4.7 0 0 1-3.079-1.144l-28.102-24.297-28.107 24.297a4.712 4.712 0 0 1-6.641-.483 4.713 4.713 0 0 1 .483-6.641l31.186-26.958a4.714 4.714 0 0 1 6.158 0l31.181 26.958a4.707 4.707 0 0 1 .483 6.641z">
                      </path>
                    </g>
                  </svg>
                </div>
                <p>
                  УЗИ аппараты экспертного класса
                </p>
              </div>
              <div class="uzi-detym__item">
                <div class="uzi-detym__icon">
                  <svg preserveAspectRatio="none" data-bbox="20 20 160 160" viewBox="20 20 160 160" height="200"
                    width="200" xmlns="http://www.w3.org/2000/svg" data-type="shape" role="presentation"
                    aria-hidden="true">
                    <g>
                      <path
                        d="M100 20c-44.182 0-80 35.817-80 80s35.818 80 80 80c44.184 0 80-35.817 80-80s-35.816-80-80-80zm34.745 91.021a4.703 4.703 0 0 1-3.562 1.627 4.7 4.7 0 0 1-3.079-1.144l-28.102-24.297-28.107 24.297a4.712 4.712 0 0 1-6.641-.483 4.713 4.713 0 0 1 .483-6.641l31.186-26.958a4.714 4.714 0 0 1 6.158 0l31.181 26.958a4.707 4.707 0 0 1 .483 6.641z">
                      </path>
                    </g>
                  </svg>
                </div>
                <p>
                  УЗИ аппараты экспертного класса
                </p>
              </div>
              <div class="uzi-detym__item">
                <div class="uzi-detym__icon">
                  <svg preserveAspectRatio="none" data-bbox="20 20 160 160" viewBox="20 20 160 160" height="200"
                    width="200" xmlns="http://www.w3.org/2000/svg" data-type="shape" role="presentation"
                    aria-hidden="true">
                    <g>
                      <path
                        d="M100 20c-44.182 0-80 35.817-80 80s35.818 80 80 80c44.184 0 80-35.817 80-80s-35.816-80-80-80zm34.745 91.021a4.703 4.703 0 0 1-3.562 1.627 4.7 4.7 0 0 1-3.079-1.144l-28.102-24.297-28.107 24.297a4.712 4.712 0 0 1-6.641-.483 4.713 4.713 0 0 1 .483-6.641l31.186-26.958a4.714 4.714 0 0 1 6.158 0l31.181 26.958a4.707 4.707 0 0 1 .483 6.641z">
                      </path>
                    </g>
                  </svg>
                </div>
                <p>
                  УЗИ аппараты экспертного класса
                </p>
              </div>
              <div class="uzi-detym__item">
                <div class="uzi-detym__icon">
                  <svg preserveAspectRatio="none" data-bbox="20 20 160 160" viewBox="20 20 160 160" height="200"
                    width="200" xmlns="http://www.w3.org/2000/svg" data-type="shape" role="presentation"
                    aria-hidden="true">
                    <g>
                      <path
                        d="M100 20c-44.182 0-80 35.817-80 80s35.818 80 80 80c44.184 0 80-35.817 80-80s-35.816-80-80-80zm34.745 91.021a4.703 4.703 0 0 1-3.562 1.627 4.7 4.7 0 0 1-3.079-1.144l-28.102-24.297-28.107 24.297a4.712 4.712 0 0 1-6.641-.483 4.713 4.713 0 0 1 .483-6.641l31.186-26.958a4.714 4.714 0 0 1 6.158 0l31.181 26.958a4.707 4.707 0 0 1 .483 6.641z">
                      </path>
                    </g>
                  </svg>
                </div>
                <p>
                  Результаты обследования всегда будут у Вас под рукой в <a href="">личном кабинете</a>
                </p>
              </div>
            </div>
            <div class="uzi-detym__image">
              <img src="../../img/uzi.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="single-price">
        <div class="container">
          <div class="single-price__row">
            <div class="single-price__item">
              <div class="single-price__item-head">
                <p>Ультразвуковые исследования. Урология</p>
              </div>
              <div class="single-price__item-body body-item">
                <div class="body-item__line">
                  <div class="body-item__line-left">
                    <a href="">УЗИ мочеполовой системы с определением остаточной мочи</a>
                  </div>
                  <div class="body-item__line-right">
                    <span>700 руб.</span>
                  </div>
                </div>
                <div class="body-item__line">
                  <div class="body-item__line-left">
                    <a href="">УЗИ почек и мочевого пузыря</a>
                  </div>
                  <div class="body-item__line-right">
                    <span>600 руб.</span>
                  </div>
                </div>
                <div class="body-item__line">
                  <div class="body-item__line-left">
                    <a href="">УЗИ предстательной железы (абдоминально)</a>
                  </div>
                  <div class="body-item__line-right">
                    <span>600 руб.</span>
                  </div>
                </div>
                <div class="body-item__line">
                  <div class="body-item__line-left">
                    <a href="">УЗИ мошонки + ЦДК</a>
                  </div>
                  <div class="body-item__line-right">
                    <span>700 руб.</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="single-price__item">
              <div class="single-price__item-head">
                <p>Ультразвуковые исследования. Урология</p>
              </div>
              <div class="single-price__item-body body-item">
                <div class="body-item__line">
                  <div class="body-item__line-left">
                    <a href="">УЗИ мочеполовой системы с определением остаточной мочи</a>
                  </div>
                  <div class="body-item__line-right">
                    <span>700 руб.</span>
                  </div>
                </div>
                <div class="body-item__line">
                  <div class="body-item__line-left">
                    <a href="">УЗИ почек и мочевого пузыря</a>
                  </div>
                  <div class="body-item__line-right">
                    <span>600 руб.</span>
                  </div>
                </div>
                <div class="body-item__line">
                  <div class="body-item__line-left">
                    <a href="">УЗИ предстательной железы (абдоминально)</a>
                  </div>
                  <div class="body-item__line-right">
                    <span>600 руб.</span>
                  </div>
                </div>
                <div class="body-item__line">
                  <div class="body-item__line-left">
                    <a href="">УЗИ мошонки + ЦДК</a>
                  </div>
                  <div class="body-item__line-right">
                    <span>700 руб.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    @@include("../../blocks/modules/footer/footer.html")
  </div>
  <script src="js/vendor.js"></script>
  <script src="../js/main.js"></script>
</body>

</html>